<div class="form-actions">
    <h1>1 Class 101</h1>
    <button type="submit" class="btn btn-primary" data-ng-click="addClass1()">Add student</button>
    <button type="button" class="btn">Edit</button>
</div>
<div class="form-actions">
    <h1>2 Class 201</h1>
    <button type="submit" class="btn btn-primary" data-ng-click="addClass2()">Add student</button>
    <button type="button" class="btn">Edit</button>
</div>
<div class="form-actions">
    <h1>3 Class 251</h1>
    <button type="submit" class="btn btn-primary">Add student</button>
    <button type="button" class="btn">Edit</button>
</div>
<div class="form-actions">
    <h1>4 Class 280</h1>
    <button type="submit" class="btn btn-primary">Add student</button>
    <button type="button" class="btn">Edit</button>
</div>
<div class="form-actions">
    <h1>5 Class 281</h1>
    <button type="submit" class="btn btn-primary">Add student</button>
    <button type="button" class="btn">Edit</button>
</div>